.container {
  display: flex;
  align-items: center;
}

.icon {
  display: inline-flex;
  margin-right: 5px;
}

.text {
  margin: 0;
}

@media (max-width: 400px) {
  .container {
    align-items: flex;
  }
  .icon {
    margin-left: 10px;
  }
}
