.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.title-banner {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.title-banner h1 {
    font-size: 32px;
    color: #333;
}
  
.search-bar-container {
    margin: 20px auto;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.search-bar-container input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
}
  
.search-bar-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
  
.search-bar-container button:hover {
    background-color: #0056b3;
}

