.image-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.logo-image {
  width: 900px; /* adjusts the width as needed or makes it bigger */
  height: auto; /* maintains aspect ratio */
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  width: 110%;
  padding: 5px;
}

.title-banner {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.title-container {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.title-banner h1 {
  font-size: 32px;
  color: #333;
  gap: 50px;
}

.search-bar-container {
  margin: 20px auto;
  max-width: 400px;
  display: fixed;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.search-bar-container input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 4px solid #ff7e67;
  margin-bottom: 10px;
  margin-right: 50px;
}

.search-bar-container button {
  background-color: #42b883;
  color: #fff;
  border: 4px solid #ff7e67;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.search-bar-container button:hover {
  background-color: #347474;
}
