.events {
  border-radius: 25px;
  background-color: #f8f4fb;
  display: flex;
  flex-direction: column;
}

.events-header {
  margin-left: 30px;
  padding: 10px;
}

.events-body {
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-radius: 25px;
  border: 40px;
  padding: 30px;
  width: 400px;
  margin: 20px;
}

.event-image {
  max-width: 100%;
  padding: 10px;
}

.event-image img {
  border-radius: 25px;
}

@media (max-width: 400px) {
  .events-body {
    background-color: #f8f4fb;
    width: 100%;
  }
}
