.news {
  border-radius: 25px;
  background-color: #f8f4fb;
  display: flex;
  flex-direction: column;
}

.news-header {
  margin-left: 30px;
}

.news-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
}

.news1 {
  background-color: white;
  border-radius: 25px;
  border: 40px;
  padding: 10px;
  width: 20%;
  margin: 20px;
}

.news2 {
  background-color: white;
  border-radius: 25px;
  border: 40px;
  padding: 10px;
  width: 20%;
  margin: 20px;
}

.news3 {
  background-color: white;
  border-radius: 25px;
  border: 40px;
  padding: 10px;
  width: 20%;
  margin: 20px;
}

img {
  width: 100%;
  border-radius: 25px;
}

@media (max-width: 400px) {
  .news-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .news1 {
    background-color: white;
    border-radius: 25px;
    border: 40px;
    padding: 10px;
    width: 80%;
    margin: 20px;
  }

  .news2 {
    background-color: white;
    border-radius: 25px;
    border: 40px;
    padding: 10px;
    width: 80%;
    margin: 20px;
  }

  .news3 {
    background-color: white;
    border-radius: 25px;
    border: 40px;
    padding: 10px;
    width: 80%;
    margin: 20px;
  }
}
