.topnews-container {
  border-radius: 25px;
  background-color: #f8f4fb;
  display: flex;
  flex-direction: column;
  border-style: ridge;
  border-color: #5a815c;
  border-width: 1px;
  padding: 10px;
}

h3 {
  margin-left: 30px;
}

.news-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
  list-style-type: none;
}

.news-event {
  background-color: white;
  border-radius: 25px;
  border: 40px;
  padding: 30px;
  width: 400px;
  flex-wrap: wrap;
  margin: 20px;
  border-style: ridge;
  border-color: #5a815c;
  border-width: 1px;
}

img {
  width: 400px;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-top: 15px;
}
