.translate-container {
  display: flex;
}

.translate-phrases {
  background-color: #f8f4fb;
  border-radius: 25px;
  margin-right: 30px;
  padding: 50px;
  width: 40%;
}

.translate-phrases p {
  padding: 10px;
}

@media (max-width: 400px) {
  .translate-phrases {
    background-color: #f8f4fb;
    border-radius: 25px;
    margin-right: 0px;
    padding: 50px;
    width: 60%;
  }

  .translate-phrases p {
    padding: 00px;
  }
}
