.phrase-div {
  margin: 20px;
  height: 300px;
  overflow-y: auto; 
}

.phrase-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  display: table;
}

.phrase-table th,
.phrase-table td {
  padding: 8px;
  border: 1px solid #ddd;
  display: table-cell;
}

.phrase-table th {
  font-weight: bold;
}

.phrase-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.phrase-table tbody tr:hover {
  background-color: #e6e6e6;
}
