.weather-component {
  border-radius: 25px;
  padding: 10px;
  border-color: #5a815c;
  border-width: 1px;
  border-style: ridge;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-icon {
  width: 40%;
  margin: 10px;
}

.weather-info {
  font-size: 20;
}
